
///////////////////////////
/// Config 11/03/2023   ///
///////////////////////////


// Colors //

$color-primary100: #000511;
$color-primary90: #000F1A;
$color-primary80: #000E1C;
$color-primary70: #00111D;
$color-primary60: #011321;
$color-primary50: #001625;
$color-primary40: #001726;
$color-primary30: #001D31;
$color-primaryO: #0016254d;

$color-sec100: #010910;

$color-gray100: #858585;
$color-white: #fff;
$color-white30: rgba(255, 255, 255, 0.3);
// Text //

$text-color-title: #fff;
$text-color-subtitle: #ffffff80;

$text-color-nav: #9898985E;
$text-color-nav-hover: #989898;

// Breakpoint //

$breakpoint-l: 1420px;
$breakpoint-m: 992px;
$breakpoint-s: 576px;